.img-logo{
    width: 12vw;
    height: 7vw;
}

.btn-submit{
    border-radius:  0;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.input-search{
    border-radius: 0;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.card:hover {
    box-shadow: 0 0 1px brown; 
  }

  /****/
  /* Dropdown Button */
  
  .cart-btn{
    padding: 0;
    width: 38px;
    height: 38px;
    text-align: center;
}

.fa.fa-cart-plus{
    margin: 0;
    width: 32px;
    height: 32px;
}

main{
    min-height: 70vh;
}