html, body {
  font-family: 'Roboto', sans-serif;
}

* {
  outline: none;
}

header .list-group-item {
  background-color: #263238;
  color: #f8f9fa !important;
}

header .list-group-item.active {
  border: 0;
  background-color: #f8f9fa;
  color: #263238 !important;
}

header .list-group-item-action:focus, header .list-group-item-action:hover {
  outline: none;
  color: #263238 !important;
}

main {
  position: absolute;
  top: 65px;
  left: 260px;
}

.toggle-side {
  left: 0 !important;
}
